In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.color_palette("crest", as_cmap=True)
sns.set(style='darkgrid')
sns.set_theme(style="ticks", rc={"axes.spines.right": False, "axes.spines.top": False})

from tqdm import tqdm
tqdm.pandas(desc="my bar!")

In [2]:
import polars as pl

In [3]:
df = pd.read_pickle('../datasets/processed/CoffeeAndCode_2018.pkl')

In [4]:
df = pl.from_pandas(df)

In [6]:
df.head()

shape: (5, 8)
┌────────────┬────────────┬───────────┬────────────┬───────────┬──────────────┬────────┬───────────┐
│ coding_hou ┆ coffee_cup ┆ coffee_ti ┆ coding_wit ┆ coffee_ty ┆ coffee_solve ┆ gender ┆ age_range │
│ rs         ┆ s_per_day  ┆ me        ┆ hout_coffe ┆ pe        ┆ _bugs        ┆ ---    ┆ ---       │
│ ---        ┆ ---        ┆ ---       ┆ e          ┆ ---       ┆ ---          ┆ cat    ┆ cat       │
│ i8         ┆ i8         ┆ cat       ┆ ---        ┆ cat       ┆ cat          ┆        ┆           │
│            ┆            ┆           ┆ cat        ┆           ┆              ┆        ┆           │
╞════════════╪════════════╪═══════════╪════════════╪═══════════╪══════════════╪════════╪═══════════╡
│ 8          ┆ 2          ┆ Before    ┆ Yes        ┆ Caffè     ┆ Sometimes    ┆ Female ┆ 18 ~ 29   │
│            ┆            ┆ coding    ┆            ┆ latte     ┆              ┆        ┆           │
│ 3          ┆ 2          ┆ Before    ┆ Yes        ┆ Americano ┆ Yes          ┆ Female ┆ 30 ~ 39   │
│            ┆            ┆ coding    ┆            ┆           ┆              ┆        ┆           │
│ 5          ┆ 3          ┆ While     ┆ No         ┆ Nescafe   ┆ Yes          ┆ Female ┆ 18 ~ 29   │
│            ┆            ┆ coding    ┆            ┆           ┆              ┆        ┆           │
│ 8          ┆ 2          ┆ Before    ┆ No         ┆ Nescafe   ┆ Yes          ┆ Male   ┆ 18 ~ 29   │
│            ┆            ┆ coding    ┆            ┆           ┆              ┆        ┆           │
│ 10         ┆ 3          ┆ While     ┆ Sometimes  ┆ Turkish   ┆ No           ┆ Male   ┆ 18 ~ 29   │
│            ┆            ┆ coding    ┆            ┆           ┆              ┆        ┆           │
└────────────┴────────────┴───────────┴────────────┴───────────┴──────────────┴────────┴───────────┘

In [5]:
df.head()

,coding_hours,coffee_cups_per_day,coffee_time,coding_without_coffee,coffee_type,coffee_solve_bugs,gender,age_range
0,8,2,Before coding,Yes,Caffè latte,Sometimes,Female,18 ~ 29
1,3,2,Before coding,Yes,Americano,Yes,Female,30 ~ 39
2,5,3,While coding,No,Nescafe,Yes,Female,18 ~ 29
3,8,2,Before coding,No,Nescafe,Yes,Male,18 ~ 29
4,10,3,While coding,Sometimes,Turkish,No,Male,18 ~ 29

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   coding_hours           100 non-null    int8
 1   coffee_cups_per_day    100 non-null    int8
 2   coffee_time            100 non-null    category
 3   coding_without_coffee  100 non-null    category
 4   coffee_type            100 non-null    category
 5   coffee_solve_bugs      100 non-null    category
 6   gender                 100 non-null    category
 7   age_range              100 non-null    category
dtypes: category(6), int8(2)
memory usage: 1.1 KB

In [7]:
df.describe()

       coding_hours  coffee_cups_per_day
count    100.000000           100.000000
mean       6.410000             2.890000
std        2.644205             1.613673
min        1.000000             1.000000
25%        4.000000             2.000000
50%        7.000000             2.500000
75%        8.000000             4.000000
max       10.000000             8.000000

In [8]:
df.describe(exclude='number')

,coffee_time,coding_without_coffee,coffee_type,coffee_solve_bugs,gender,age_range
count,100,100,100,100,100,100
unique,7,3,8,3,2,5
top,While coding,Sometimes,Nescafe,Sometimes,Male,18 ~ 29
freq,61,51,33,43,74,62

In [32]:
def value_counts(df, col):
    return df.groupby(col).agg({col: 'count'}).rename(columns={col: 'count'}).sort_values(by='count', ascending=False)

In [33]:
value_counts(df, 'coffee_time')

                         count
coffee_time
While coding                61
Before coding               25
All the time                 4
Before and while coding      4
In the morning               3
After coding                 2
No specific time             1

In [10]:
df.query('coffee_time == "No specific time"')

,coding_hours,coffee_cups_per_day,coffee_time,coding_without_coffee,coffee_type,coffee_solve_bugs,gender,age_range
54,7,4,No specific time,Yes,Cappuccino,Sometimes,Male,18 ~ 29